body{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    color: #000;
    line-height: normal;

}


h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

/* ============Main=============== */
.main {
    background-color: #F5F7FA;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    
}

.main_content{
    width: 1200px;
    background: #FFF;
    box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.10);
    padding-left: 88px;
    padding-top: 102px;
    padding-bottom: 75px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow:  -20px 20px 60px #d9d9d9,
    20px -20px 60px #ffffff;
}

/* ==============about=============== */
.about{
    width: 850px;
    
    margin-bottom: 40px;
}

.about_position{
    margin-bottom: 19px;
    font-size: 16px;
    font-weight: 700;

}

.about_name{
    margin-bottom: 24px;
    font-size: 47px;

}

.about_description{
    text-indent: 2rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: #595959;
    margin: 0;
    margin-bottom: 65px;
    text-align: justify;
}


/* ==============/about=============== */

/* ==============projects=============== */


.projects{
    margin-bottom: 65px;
}

.title{
    position: relative;
    z-index: 10;
    margin-bottom: 30px;
    font-size: 24px;
}

.title_projects{
    color: #FB6D3A;
}


.project{
    overflow: auto;
    height: 335px;
    width: 400px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow:  -20px 20px 60px #d9d9d9,
                20px -20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.project:hover, .project:focus  {
border: 1px solid black;
transform: scale(1.05);
}


.project:active {
transform: scale(0.95) rotateZ(1.7deg);
}


.project_tools{
    color: #FB6D3A;
    font-size: 18px;
    font-weight: 700;
}


.project_list{
    display: flex;
    flex-wrap: wrap;

    column-gap: 50px;
    row-gap: 35px;
    list-style: none;
    margin: 0;
    padding: 0;
}



.text_link_project{
    display: block;
    margin-left: 15px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.project_info{
    display: block;
    text-indent: 2rem;
    color: #595959;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7; 
}

/* ==============/projects=============== */
/* ==============work=============== */

.work{
    margin-bottom: 65px;
}

.box_company{
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    column-gap: 50px;
}

.company{
    display: block;
    width: 400px;
    height: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
}

.work_position{
    margin-bottom: 11px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.link_organization {
    align-items: center;
    background-color: transparent;
    color: #FB6D3A;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    outline: none;
  }
  
  .link_organization:before {
    background-color: #FB6D3A;
    content: "";
    display: inline-block;
    height: 1px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
  }
  
  .link_organization:hover:before ,.link_organization:focus:before  {
    background-color: #FB6D3A;
    width: 3rem;
    
  }

.organization{
    color: #FB6D3A;
    padding-left: 5px;
}


.period{
    color: #A8A8A8;
    font-size: 14px;
    font-weight: 400;
}

.line{ 
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

.work_list_item{    
    color: #595959;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7; 
}




/* ==============/work=============== */
/* ==============Education=============== */


.box_university{
    display: flex;
    gap: 50px;
}

.container_university{
    width: 400px;
    height: 160px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    border-radius: 25px;
    background: #FFFFFF;
    box-shadow:  20px 20px 60px #d9d9d9,
                 -20px -20px 60px #ffffff;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.5s;
    user-select: none;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.container_university:hover, .container_university:focus  {
    border: 1px solid black;
    transform: scale(1.05);
}


.container_university:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.link_university{
    text-decoration: none;
}


.title_university{
    margin-bottom: 12px;
    font-size: 24px;
    font-weight: 700;
}
.name_university{
    width: 350px;
    margin-bottom: 12px;
    color: #FB6D3A;
    font-size: 18px;
    font-weight: 700;
}
.position_university{
    margin-bottom: 12px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.period_university{
    color: #A8A8A8;
    font-size: 14px;
    font-weight: 400;
}


/* ==============/Education=============== */
/* ============/Main=============== */
/* ============Sidebar=============== */


.sidebar_title{
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}



.sidebar{
    position: relative;
    padding-left: 40px;
    padding-top: 40px;
    width: 370px;
    background-color: #1E2939;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow:  -20px 20px 60px #d9d9d9,
    20px -20px 60px #ffffff;
}
    
.contacts{
    margin-bottom: 35px;
}


.photo{
    position: relative;
    width: 370px;
    left: -40px;
    margin-bottom: 35px;
}


.tech_skills_text, .soft_skill_text{
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;

}

.tech_skill_list, .soft_skill_list{
    padding-left: 16px;
}

.soft_skill_item::marker, .tech_skill_item::marker{
    color: #FB6D3A;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.contact_adress{
    display: flex;
    align-items: center;
    opacity: 0.5;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

.contact_link{
    display: flex;
    align-items: center;
    opacity: 0.5;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}


.icon-contacts{
    fill: #FFF;
    margin-right: 5px;
}



.contact_link:hover{
    color: #FB6D3A;
    opacity: 1;
}

.contact_link:hover .icon-contacts{
    fill: #FB6D3A;
}


.tech_skill{
    margin-bottom: 35px;
}

.soft_skill{
    margin-bottom: 35px;
}


/* ============/Sidebar=============== */
